<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gig.title %>
</p>

<p>
  <strong>Client:</strong>
  <%= @gig.client %>
</p>

<p>
  <strong>Client contact:</strong>
  <%= @gig.client_contact %>
</p>

<p>
  <strong>Location:</strong>
  <%= @gig.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @gig.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gig.price %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
